## Introduction to Pandas

#### **Name: Cesar Alonso Lopez Anguiano** <insert name>

#### Import Libraries

In [2]:
import pandas as pd
import numpy as np

#### Create the dataset

In [3]:
data = {
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Age": [25, np.nan, 30, 35],
    "Score": [85, 90, np.nan, 88],
}
df = pd.DataFrame(data)

#### Replace Age with mean

In [17]:
df["Age"] = df["Age"].fillna(df["Age"].mean())
df["Age"]

0    25.0
1    30.0
2    30.0
3    35.0
Name: Age, dtype: float64

#### Replace Score

In [5]:
df["Score"] = df["Score"].fillna(round(df["Score"].mean()))
df["Score"]

0    85.0
1    90.0
2    88.0
3    88.0
Name: Score, dtype: float64

#### Rename Columns

In [6]:
df = df.rename(columns={"Name":"Student_Name", "Score":"Exam_Score"})

#### Concatenate Dataframes

In [15]:
data2 = {
    "Student_Name": ["John", "Max"],
    "Age": [28, 32],
    "Exam_Score": [91, 87]
}
df2 = pd.DataFrame(data2)

In [16]:
df_concatenated = pd.concat([df, df2], ignore_index=True)
df_concatenated

  Student_Name   Age  Exam_Score
0        Alice  25.0        85.0
1          Bob  30.0        90.0
2      Charlie  30.0        88.0
3        David  35.0        88.0
4         John  28.0        91.0
5          Max  32.0        87.0

#### Grouping Data by Categories

In [6]:
data = {
    "Class": ["A", "B", "A", "B", "C", "C"],
    "Score": [85, 90, 88, 72, 95, 80],
    "Age": [15, 16, 15, 17, 16, 15],
}
df = pd.DataFrame(data)

In [7]:
df.groupby("Class").mean()

       Score   Age
Class
A       86.5  15.0
B       81.0  16.5
C       87.5  15.5